<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>My index</title>
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="Login">
<nav class="navbar navbar-default">
  <button class="btn btn-primary pull-right" ng-show="isAuthenticated()" ng-click="logout()">Logout</button>
</nav>
<div class="container">
  <button class="btn btn-primary" ng-hide="isAuthenticated()" ng-click="login()">Login</button>

  <div class="well">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="tweet message" ng-model="message"/>
    </div>
    <button class="btn btn-default" ng-click="tweet()">Tweet</button>
  </div>
</div>
<!-- vendorInject:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
